.leftArrow {
    position: absolute;
    left: 20px;
    top: 25px;
    font-size: larger;
    cursor: pointer;
}

.backgroundImage {
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
     }
}

.menu {
    position: relative;
    margin-top: -100px;
    z-index: auto;
    padding: 18px;
    background-color: darken($color-bg-main, 1);
    border-radius: 50px 50px 0px 0px;
    cursor: pointer;

    .menu_title {
        font-family: Shrikhand;
        font-size: 25px;
        overflow: hidden;
        display: flex;
          
      

        i {
            margin-top: 5px;
            margin-left: 25px;
            color:linear-gradient($color-secondary, $color-primary) ;

        }
    }
   
    .cardElementMenu {
        margin-top: 20px;
        font-size: 18px;

      

        .elementMenuTitre {
            color:lighten($color-text, 45); 
            border-bottom: 4px solid #99E2D0;
            padding-bottom: 5px;
            width: 35px;
            font-weight: 300;
            text-transform: uppercase;
            margin-top: 35px;
        }

        .card_menu {
            
            display: flex;
            justify-content: space-between;
            background-color: $color-light;
            border-radius: 15px;
            margin-top: 20px;
            overflow: hidden;
             
            & h3 {
                color:lighten($color-text, 45); 
                font-size:15px;
                width: 215px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                box-sizing: border-box;
                margin-top: 0px;
                margin-bottom: 5px;
            }

            & h2{
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .card_menu__text{

                white-space: nowrap;
                overflow: hidden;
                width: 70%;
                align-self: center;
                margin: 10px;
            }
            
            .card_menu__price{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px;
                margin-top: 35px; 
                font-size: 15px;
                font-weight: bold;
            }

            .card_menu__submit {
                display: flex;
                align-items: center;
                background-color: lighten($color-accent, 8);
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                transition-timing-function: ease-in;
                transition: width 2s;
                width: 50px;
                position: relative;

                .fa-check-circle {
                    color: $color-light;
                }
            }
        
            &:hover {
                & .card_menu__text{
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    box-sizing: border-box;
                    width: 60%;
                    
                    & h2 {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        box-sizing: border-box;
                    }
                    & h3{
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        box-sizing: border-box; 
                    }
                    
                    & .card_menu__submit{
                       width: 10px;

                    }
                    
                }
            }
        }
    }                
}


        

    


   