.leftArrow {
    position: absolute;
    left: 20px;
    top: 25px;
    font-size: larger;
    cursor: pointer;
}

.backgroundImage {
    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        position: relative;
    }
}

.menu {
    position: relative;
    margin-top: -53 px;
    z-index: auto;
    padding: 18px;
    background-color: darken($color-bg-main, 1);
    border-radius: 50px 50px 0px 0px;

    .menu_title {
        font-family: Shrikhand;
        font-size: 23px;
        overflow: hidden;
        display: flex;

        i {
            margin-top: 5px;
            margin-left: 25px;
        }
    }

    .cardElementMenu {
        margin-top: 20px;
        font-size: 18px;

        .elementMenuTitre {
            color: lighten($color-text, 45);
            border-bottom: 4px solid #99E2D0;
            padding-bottom: 5px;
            width: 35px;
            font-weight: 300;
            text-transform: uppercase;
            margin-top: 35px;
        }

        .card_menu {
            animation-name: menuItemAppear;
            animation-duration: 4s;
            animation-fill-mode: forwards;
            opacity: 0;
            position: relative;
            display: flex;
            justify-content: space-between;
            background-color: $color-light;
            border-radius: 15px;
            margin-top: 20px;
            overflow: hidden;

            & h2 {
                margin-top: 5px;
                margin-bottom: 5px;
            }

            & span {
                color: lighten($color-text, 45);
                font-size: 15px;
                width: 215px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                box-sizing: border-box;
                margin-top: 0px;
                margin-bottom: 5px;
            }

            .card_menu__text {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                overflow: hidden;
                width: 70%;
                align-self: center;
                margin: 10px;
            }

            .card_menu__price {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px;
                margin-top: 35px;
                font-size: 15px;
                font-weight: bold;
            }

            .card_menu__submit {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: lighten($color-accent, 8);
                transition: all .5s ease;
                width: 60px;
                margin-right: -60px;
                position: relative;
                cursor: pointer;

                .fa-check-circle {
                    color: $color-light;
                }
            }

            i {
                transition: all 0.5s ease-in-out;
            }

            &:hover {
                .card_menu__submit {
                    margin-right: 0px;
                }
                i {
                    transform: rotate(360deg);
                }
            }
        }
    }
}

@keyframes menuItemAppear {
    0% {
        opacity: 0;
        top: -15px;
    }

    50% {
        top: 0px;
    }

    100% {
        opacity: 1;
    }
}

@for $i from 0 through 14 {
    .card_menu:nth-child(#{$i}) {
        animation-delay: $i * .2s;
    }
}