// page d'acceuil//

@media (min-width: 768px){

  .container steps{
    display: flex;
  }
  .stepList{
    display: flex;
    width: 100%;
    margin: 0px 20px;
    li {
      margin-right: 25px;

      i{
        margin: 0 10px;
      }
    }
  }
  .container container_bg restaurants li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
// les pages restaurents//

@media (min-width: 768px){
  
  .card_menu_parent{
  
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 0px 20px;
   
      .card_menu{
        margin: 0px 10px;
      }
  }
}

