// page d'acceuil//

@media (min-width: 768px){

       .stepList ul {
         display: block;

            li{  
         width: 100%;
         margin: 0px 20px;
        }
     }
 }
// les pages restaurents//

 @media (min-width: 768px){

    .Menu {
        margin-top: 80px;
          }
    
      .elementMenuTitre {
        margin-top: 15px;
        width: 30%;
       }
    
      .card_menu__text {
        width: 90%;
     }
 }

