// page d'accueil //
@media (min-width: 768px) {

  .stepList {
    display: flex;
    justify-content: space-between;
    margin: 0px;

    li {
      flex-grow: 1;
      margin-right: 25px;

      i {
        margin: 0 10px;
      }
    }
  }

  .restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h1 {
      flex-basis: 100%;
    }

    .card {
      flex-basis: 24%;
      flex-shrink: 0;
    }
  }
}

// les pages restaurants //
@media (min-width: 768px) {

  .card_menu_parent {
    display: flex;
    flex-direction: row;
    margin: 0px;

    .card_menu {
      flex-grow: 1;
      margin: 0px 10px;
    }
  }
}