body {
    font-family: $font-family-main;
}

h1 {
    font-size: 120%;
    font-weight: bold;
}

h2 {
    font-size: 100%;
    font-weight: bold;
}

h3 {
    font-size: 80%;
    font-weight: normal;

}

h4 {
 
}



h5 {

}

h6 {

}