/**
 * Fonts
 */
$font-family-main: Roboto;
$font-family-accent: Shrikhand;

/**
 * Color system
 */
$color-dark: #000;
$color-light: #fff;
$color-primary: (#9356DC);
$color-secondary: (#FF79DA);
$color-accent: #99E2D0;

$color-text: $color-dark;
$color-text-secondary: lighten($color-dark, 40);

$color-bg-footer: lighten($color-dark, 20);
$color-bg-main: rgb(250, 249, 249);

$color-shadow: darken($color-bg-main, 10);