$colour-primary: #000;
$colour-secondary: lighten($colour-primary,20);
$colour-white: #fff;
$colour-text-secondary: lighten($colour-primary,40);
$colour-rose: (#FF79DA);
$colour-bg-main: rgb(250, 249, 249);
$colour-shadow: darken($colour-bg-main, 10);
$colour-violet: (#9356DC);
$colour-vert: #99E2D0;
