button{
    border-radius:50px;
    font-size: 16px;
    padding: 16px;
    background: linear-gradient($color-secondary, $color-primary);
    color: $color-light;
    margin: 30px 40px;
    border-style: none;
    box-shadow: 0 12px 10px $color-shadow;
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
    text-align: center;
    overflow: auto;
    
    
    &:hover {
       transform: scale(1);
       background:linear-gradient( lighten($color-secondary,5),lighten($color-primary, 5) ); 
    }

    
}

.btnCommander {
  display: block;
  margin: 45px auto;
}