.btn {
    border-radius:50px;
//    width: 220px;
//    height: 45px;
//  Remplacement des px par des vw
    width: 55vw;
    height: 12vw;
    font-size: 4vw;
    font-weight: bold;
    background: linear-gradient($color-secondary, $color-primary);
    color: $color-light;
    margin: 30px 40px;
    border-style: none;
    box-shadow: 0 12px 10px $color-shadow;
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
    text-align: center;
    overflow: auto;
    &:hover {
       transform: scale(1);
       background:linear-gradient( lighten($color-secondary,5),lighten($color-primary, 5) ); 
    }

}




    