.favori {
    font-size: 25px;
    overflow: hidden;
    align-self: center;

    
    & i{
        font-size: 25px;
        padding-bottom: 5px;
        padding-right: 40px;
    }

    .favori i{
        font-weight: 400;
        background: linear-gradient(black black);
        background-clip: border-box;
        -webkit-background-clip: text;
        color: transparent;
        transition: opacity 1000ms
    }
    
    & i:hover{
       
        background: linear-gradient($color-primary, $color-secondary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: heart 1000ms;
    }
    @keyframes heart {
        0%{
            font-weight: 600;
        }
        1%{
            font-weight: 600;
            opacity: 0.4;
            
        }
        100%{
            font-weight: 600;
            opacity: 1;
            
        }    
    }
}