.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color:$color-light;
    opacity: 0.8;
    inset: 0px;
    z-index: 1;
    animation: loading 1s forwards;
    animation-delay: 3s;
    @keyframes loading {
        0%{
            transform: scale(1);
        }
        100%{
            transform: scale(0);
        }
    }
  
}