.stepList {
    margin-top: 20px;
   
    
 
}

.stepList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    margin-bottom: 25px;
    background-color: darken($color-bg-main, 1);
    border-radius: 22px;
    box-shadow: 0 5px 8px $color-shadow;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $color-text-secondary;
    margin-left: 5px;
    width: 90%;
    
    i {
        font-size: 19px;
    }

    &:hover {
        background-color: lighten($color-primary, 35);

        i {
            color: $color-primary;
        }
    }
}

.stepList li div {
    background-color: $color-primary;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    color: white;
    text-align: center;
    margin-left: -13px;
    padding: 5px;
    font-size: 13px;
   vertical-align: middle; 
}

.stepList li h2 {
    color: $color-text;
    font-weight: normal;
    margin-right: 70px;
}